.page-header {
  position: absolute;
  background-color: rgba($black, 0.3);
  color: $white;
  width: 100%;
  z-index: 2;

  @media (min-width: $tablets) {
    min-height: 110px;
  }

  &--full {
    position: relative;
    background-color: $blue-dark;

    @media (min-width: $desktops) {
      position: absolute;
      background-color: rgba($black, 0.3);
    }
  }
}

.page-header__wrapper {
  width: 100%;

  @media (min-width: $desktops) {
    width: 940px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
  }
}

.page-header__logo {
  height: 22px;
  display: inline-block;
  vertical-align: top;
  margin-top: 22px;
  margin-bottom: 22px;
  margin-left: 20px;
  margin-right: 20px;
  color: #ffffff;

  @media (max-width: $phones-max) {
    margin-left: 21px;
  }

  @media (min-width: $tablets) {
    margin-top: 27px;
    margin-bottom: 45px;
    width: 147px;
    height: 40px;
  }

  @media (min-width: $desktops) {
    margin-left: 0;
  }
}

.page-header__logo:hover .page-header__logo-img {
  color: $pink;
}

.page-header__logo:active .page-header__logo-img {
  @media (min-width: $tablets) and (max-width: $desktops) {
    opacity: 0.3;
  }
}

.page-header__logo-img {
  color: #ffffff;

  @media (max-width: $phones-max) {
    width: 70px;
    height: 22px;
  }
}

.header-logo:hover {
  cursor: pointer;
}

.header-logo__mobile {
  @media (min-width: $tablets) {
    display: none;
  }
}

.header-logo__tablet {
  display: none;

  @media (min-width: $tablets) and (max-width: $desktops) {
    display: block;
  }
}

.header-logo__desktop {
  display: none;

  @media (min-width: $desktops) {
    display: block;
    padding-top: 5px;
  }
}
