.page-footer {
  @include container;
  padding-top: 40px;
  padding-bottom: 40px;

  @media (max-width: $phones-max) {
    text-align: center;

    &--index {
      display: none;
    }
  }

  @media (min-width: $tablets) {
    display: flex;
    justify-content: space-between;
    padding-top: 38px;
    padding-bottom: 34px;
  }

  @media (min-width: $desktops) {
    padding-top: 50px;
    padding-bottom: 68px;
  }
}

.page-footer__logo {
  display: inline-block;
  vertical-align: top;
  color: $blue-dark;
}

.page-footer__logo:hover .footer-logo {
  color: $pink;
}

.page-footer__logo:active .footer-logo {
  @media (min-width: $tablets) and (max-width: $desktops) {
    opacity: 0.3;
  }
}

.footer-logo__mobile {
  @media (min-width: $desktops) {
    display: none;
  }
}

.footer-logo__desktop {
  @media (max-width: $tablets-max) {
    display: none;
  }

  @media (width: $desktops) {
    display: block;
  }
}

.page-footer__social {
  margin-top: 35px;

  @media (min-width: $tablets) {
    margin-top: 3px;
    margin-right: 18px;
  }

  @media (min-width: $desktops) {
    margin-left: 6px;
    margin-right: 0;
  }
}

.page-footer__copyright {
  margin-top: 40px;

  @media (min-width: $tablets) {
    margin-top: 14px;
  }

  @media (min-width: $desktops) {
    margin-top: 14px;
  }
}
