.panorama {
  position: relative;

  @include container-fluid;
}

.panorama__in {
  @include container;
}

.panorama__section-in {
  @include container;
}

.panorama__section {
  // position: absolute;
  top: 0;
  width: 100%;
}

.panorama__section-name {
  display: inline-block;
  vertical-align: top;
  font-size: 12px;
  line-height: 24px;
  font-weight: 700;
  color: $white;
  background-color: $pink;
  text-transform: uppercase;
  padding: 6px 20px;
}
