.photo-editor {
  background-color: $grey-light;
  margin-bottom: 27px;

  @media (min-width: $tablets) {
    margin-bottom: 0;
  }

  @media (min-width: $desktops) {
    background-color: transparent;
    margin-bottom: 25px;
  }
}

.photo-editor__in {
  @include container;

  @media (max-width: $phones-max) {
    width: 100%;
    padding: 0;
  }
}

.photo-editor__wrap {
  @media (min-width: $tablets) {
    display: flex;
  }

  @media (min-width: $desktops) {
    padding-left: 80px;
    padding-right: 60px;
    background-color: $grey-light;
  }
}

.photo-editor__image {
  padding-top: 20px;
  width: 280px;

  @media (max-width: $phones-max) {
    @include container-phones(20px);
  }

  @media (min-width: $tablets) {
    width: 300px;
    padding-top: 57px;
    padding-bottom: 54px;
  }

  @media (min-width: $desktops) {
    padding-bottom: 57px;
  }
}

.photo-editor__pic {
  display: block;
  margin: 0;

  @media (min-width: $tablets) {
    width: 300px;
    height: 400px;
  }
}

.photo-editor__form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  padding-bottom: 15px;

  @media (min-width: $tablets) {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: row;
    max-width: 275px;
    margin-left: 20px;
    margin-top: 26px;
  }

  @media (min-width: $desktops) {
    max-width: 410px;
    margin-top: 0;
    margin-left: 0;
    align-items: center;
  }
}

.photo-editor__fieldset {
  margin: 0;
  padding: 0;
  padding-bottom: 13px;
  border: none;

  @media (min-width: $tablets) {
    margin: 0;
    padding: 0;
    flex-direction: column;
    align-items: center;
    width: 54px;
    height: 173px;
    margin-top: 0;
    padding-right: 20px;
    margin-left: 28px;
  }

  @media (min-width: $desktops) {
    width: 92px;
    height: 200px;
    padding-left: 45px;
    margin-top: 0;
  }
}

.photo-editor__inputs {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 240px;
  padding-top: 40px;
  padding-right: 0;

  @media (min-width: $tablets) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    height: 210px;
    padding-right: 0;
  }

  @media (min-width: $desktops) {
    margin-top: 9px;
    margin-left: 5px;
  }
}

.photo-editor__label {
  font-size: 0;
  cursor: pointer;
  color: $blue-dark;
  opacity: 0.3;

  &:hover,
  &:focus {
    opacity: 0.5;
  }

  &:active {
    color: $pink;
    opacity: 1;
  }

  &--crop {
    margin-left: 13px;
  }

  &--contrast {
    margin-right: 28px;
  }

  @media (min-width: $tablets) {
    position: relative;
    height: 21px;
    margin-right: 27px;
    color: $pink;
    opacity: 1;

    &:not(:last-of-type) {
      margin-bottom: 50px;
    }

    &:hover,
    &:focus {
      color: $pink;

      opacity: 1;
    }

    &--crop {
      margin-left: 0;
    }

    &--contrast {
      align-self: center;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: -27px;
      left: 0;
      width: 275px;
      height: 1px;
      background-color: #dddfe0;
    }
  }

  @media (min-width: $desktops) {
    margin-right: 44px;

    &::after {
      bottom: -33px;
      left: -8px;
      width: 410px;
      height: 1px;
    }
  }
}

.photo-editor__range {
  margin: 0;
  padding: 0;
  display: none;
  width: 240px;
  min-height: 16px;
  margin-top: 19px;
  margin-bottom: 10px;
  background-color: transparent;
  outline: none;
  appearance: none;

  &::-webkit-slider-runnable-track {
    width: 240px;
    height: 2px;
    background: $blue-dark;
    cursor: pointer;

    animate: 0.2s;
  }

  &::-webkit-slider-thumb {
    box-sizing: content-box;
    width: 10px;
    height: 10px;
    margin-top: -6px;
    background: $white;
    border: 2px solid $pink;
    border-radius: 50%;
    cursor: pointer;

    appearance: none;
  }

  &:focus::-webkit-slider-runnable-track {
    outline: none;
  }

  &:focus::-webkit-slider-thumb {
    background: $pink;
  }

  &::-moz-range-track {
    width: 240px;
    height: 2px;

    background: $blue-dark;
    cursor: pointer;

    animate: 0.2s;
  }

  &::-moz-range-thumb {
    width: 10px;
    height: 10px;
    background: $white;
    border: 2px solid $pink;
    border-radius: 50%;
    cursor: pointer;
  }

  &:focus::-moz-range-thumb {
    background: $pink;
  }

  &::-ms-track {
    width: 240px;
    height: 2px;
    color: transparent;
    background: transparent;
    border-width: 0;
    border-color: transparent;
    cursor: pointer;
    animate: 0.2s;
  }

  &::-ms-fill-lower {
    background: $blue-dark;
  }

  &::-ms-fill-upper {
    background: $blue-dark;
  }

  &::-ms-thumb {
    width: 10px;
    height: 10px;
    margin-top: -2px;
    background: $white;
    border: 2px solid $pink;
    border-radius: 50%;
    cursor: pointer;
  }

  &:focus::-ms-thumb {
    background: $pink;
  }

  @media (min-width: $tablets) {
    display: block;
    width: 202px;
    margin: 0;
    margin-top: 3px;
    padding-left: 0;
    padding-top: 2px;

    &:not(:last-of-type) {
      margin-bottom: 54px;
    }

    &::-webkit-slider-runnable-track {
      width: 202px;
    }

    &::-moz-range-track {
      width: 202px;
    }

    &::-ms-track {
      width: 202px;
    }
  }

  @media (min-width: $desktops) {
    width: 290px;
    padding-bottom: 0;
    padding-top: 16px;

    &--crop {
      margin-top: 5px;
      margin-bottom: 57px;
    }

    &:nth-of-type(2) {
      margin-top: 0;
      margin-bottom: 50px;
    }

    &::-webkit-slider-runnable-track {
      width: 288px;
    }

    &::-moz-range-track {
      width: 288px;
    }

    &::-ms-track {
      width: 288px;
    }
  }
}

.photo-editor__radio:checked + .photo-editor__label {
  color: $pink;
  opacity: 1;
}

.photo-editor__radio--crop:checked ~ .photo-editor__range--crop,
.photo-editor__radio--fill:checked ~ .photo-editor__range--fill,
.photo-editor__radio--contrast:checked ~ .photo-editor__range--contrast {
  display: block;
}

@media (min-width: $tablets) {
  .photo-editor__label--crop svg {
    width: 22px;
    height: 22px;
  }

  .photo-editor__label--fill svg {
    width: 24px;
    height: 35px;
  }

  .photo-editor__label--contrast svg {
    width: 16px;
    height: 22px;
  }
}

@media (min-width: $desktops) {
  .photo-editor__label--crop svg,
  .photo-editor__label--fill svg {
    width: 48px;
    height: 52px;
  }

  .photo-editor__label--contrast svg {
    width: 32px;
    height: 42px;
  }

  .photo-editor__inputs {
    height: 180px;
    padding-top: 0;
  }
}

.photo-editor__btns {
  position: relative;
  padding-top: 40px;

  @media (max-width: $phones-max) {
    width: 100%;
  }

  @media (max-width: $phones-max) {
    &::before {
      content: "";
      display: block;
      position: absolute;
      top: -1px;
      left: 0;
      width: 100%;
      height: 1px;
      padding: 0;
      background-color: $grey-darker;
    }
  }

  @media (min-width: $tablets) {
    margin-top: 0;
    padding-left: 0;
  }

  @media (min-width: $desktops) {
    margin-top: 36px;
    padding-left: 80px;
  }
}

.photo-editor__btns-in {
  @media (max-width: $phones-max) {
    @include container-phones(20px);
  }

  @media (min-width: $tablets) {
    display: flex;
    flex-direction: column;
    padding-left: 25px;
    width: 100%;
    padding-right: 13px;
    padding-top: 45px;
  }

  @media (min-width: $desktops) {
    flex-direction: row;
    padding: 0;
    width: 100%;
  }
}

.photo-editor__post {
  width: 100%;
  margin-bottom: 12px;

  @media (min-width: $tablets) {
    margin-bottom: 25px;
    width: 260px;
  }

  @media (min-width: $desktops) {
    margin-bottom: 0;
    width: 183px;
  }
}

.photo-editor__cancel {
  width: 100%;

  @media (min-width: $desktops) {
    width: 183px;
    margin-left: 43px;
  }
}
