.photo {
  display: flex;
  flex-direction: column;
}

.photo__image img {
  display: block;
}

.photo__description {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 17px 22px 26px;
  background-color: $grey-light;
}

.photo__author {
  font-weight: 700;
}

.photo__text {
  @include reset-child-margins;
  flex-grow: 1;
}

.photo__time {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 300;
}

.photo__like {
  margin-top: 18px;
}

.photo__stats {
  font-size: 12px;
  text-transform: uppercase;
  color: $pink;
}
